<div id="slide-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

    <!-- The actual navbar you see at the top -->
    <div class="navbar-header">
      <!-- Title: goes in middle of navbar -->
      <a class="navbar-brand" href="#">Rekindle</a>

      <!-- Left nav button -->
      <a class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Right nav button -->
      <button type="button" class="btn btn-default navbar-toggle-right" data-toggle="offcanvas" data-target=".navbar-collapse">
        3
      </button>
    </div><!-- END The actual navbar you see at the top -->

    <!-- The nav menu that slides in from left -->
    <div class="sidebar" id="sidebar-left">
      <form class="navbar-form navbar-right" role="search">
        <div class="input-group">
          <input type="search" placeholder="Search" class="form-control" name="q">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav">
        <li><a href="#settings">Settings</a></li>
        <li><a href="#help">Help</a></li>
     </ul>
    </div><!-- END The nav menu that slides in from left -->

    <!-- The nav menu that slides in from right -->
    <div class="sidebar" id="sidebar-right">
      <div class="queue-title">
        <h4>People you want to contact</h4>
      </div>
      <div class="queue">
        <ul class="media-list">
          <li class="media">
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object img-circle" src="/images/justin.jpg">
              </a>
              <div class="media-body">
                <p>Justin Womersly</p>
              </div>
            </div>
          </li>
          <li class="media">
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object img-circle" src="/images/justin.jpg">
              </a>
              <div class="media-body">
                <p>Justin Womersly</p>
              </div>
            </div>
          </li>
          <li class="media">
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object img-circle" src="/images/justin.jpg">
              </a>
              <div class="media-body">
                <p>Justin Womersly</p>
              </div>
            </div>
          </li>
          <li class="media">
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object img-circle" src="/images/justin.jpg">
              </a>
              <div class="media-body">
                <p>Justin Womersly</p>
              </div>
            </div>
          </li>
          <li class="media">
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object img-circle" src="/images/justin.jpg">
              </a>
              <div class="media-body">
                <p>Justin Womersly</p>
              </div>
            </div>
          </li>
          <li class="media">
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object img-circle" src="/images/justin.jpg">
              </a>
              <div class="media-body">
                <p>Justin Womersly</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div><!-- END The nav menu that slides in from right -->

  </div>
</div>