<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Rekindle</a>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>


        <button type="button" class="btn btn-default navbar-toggle-right" data-toggle="collapse" data-target=".navbar-collapse">
          3
        </button>

    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-rekindle" href="#">Rekindle</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>