<li class="media">
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object img-circle" src="{{image}}">
    </a>
    <div class="media-body">
      <p>{{firstname}} {{lastname}}</p>
    </div>
  </div>
</li>