<li class="media">
  <div class="media">
    <a class="pull-left" href="#">
      <div class="media-object queue-card-img img-circle" style="background-image: url('{{image}}');"></div>
    </a>
    <div class="media-body">
      <p>{{firstname}} {{lastname}}</p>
    </div>
  </div>
</li>