<li class="media">
  <a href="#" class="queue-link" data-id="{{id}}">
	  <div class="media">
      <div class="pull-left media-object queue-card-img img-circle" style="background-image: url('{{image}}');">
      </div>
	    <div class="media-body">
	      <p>{{firstname}} {{lastname}}</p>
	    </div>
	  </div>
  </a>
</li>