<li class="media">
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object img-circle" src="/images/justin.jpg">
    </a>
    <div class="media-body">
      <p>Justin Womersly</p>
    </div>
  </div>
</li>