  <!-- The nav menu that slides in from right -->
  <div class="sidebar" id="sidebar-right">
    <div class="queue-title">
      <h4>People you want to contact</h4>
    </div>
    <div class="queue">
      <ul class="media-list">
        {{> queue-card}}
        {{> queue-card}}
        {{> queue-card}}
        {{> queue-card}}
        {{> queue-card}}
        {{> queue-card}}
      </ul>
    </div>
  </div><!-- END The nav menu that slides in from right -->