{{> navbar}}

<div id="page-content">

  <div class="container" id="card_container">


  </div>

</div>
<script src="js/jquery.touchSwipe.js"></script>
<script>
	var queueJSON = JSON.parse('{{{queue_string}}}');
	var candidatesJSON = JSON.parse('{{{candidates_string}}}');
	var removedJSON = [];
	var swipeCardIndex = {{numberSwipeCards}};
</script>
<script src="js/compose.js"></script>
<script src="js/swipe.js"></script>
<script src="js/shake.js"></script>
<script src="http://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.0.beta.6.js"></script>

<div id="send-message-template" class="hidden">

</div>

<div id="queue-card-template" class="hidden">
	{{> queue-card}}
</div>

<div id="card-template" class="hidden">
	{{> swipe-card}}
</div>

<!-- If statement necessary to allow non-alternate routes to omit
	isAlternateView without breaking swipe.js -->
<div id="alternate-view-toggle"
data={{#if isAlternateView}}"true"{{else}}"false"{{/if}}></div>

{{>profile-modal}}