{{> navbar}}

<div id="page-content">

  <div class="container" >
    <h1 class="no-margin-top">Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.</p>
  </div>

</div>


<script src="js/sidebars.js"></script>
