<div id="fb-root"></div>
<script>

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1377497889172999',
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
 
    // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
    // for any authentication related change, such as login, logout or session refresh. This means that
    // whenever someone who was previously logged out tries to log in again, the correct case below
    // will be handled.
    FB.Event.subscribe('auth.authResponseChange', function(response) {
      console.log('Got authResponseChange');
      // Here we specify what we do with the response anytime this event occurs.
      if (response.status === 'connected') {
        // The response object is returned with a status field that lets the app know the current
        // login status of the person. In this case, we're handling the situation where they
        // have logged in to the app.

        saveUserData(response.authResponse.accessToken);

        // TODO: response.redirect('www.google.com');
      } else if (response.status === 'not_authorized') {
        // In this case, the person is logged into Facebook, but not into the app, so we call
        // FB.login() to prompt them to do so.
        // In real-life usage, you wouldn't want to immediately prompt someone to login
        // like this, for two reasons:
        // (1) JavaScript created popup windows are blocked by most browsers unless they
        // result from direct interaction from people using the app (such as a mouse click)
        // (2) it is a bad experience to be continually prompted to login upon page load

        window.location.href = "/login";

      } else {
        // In this case, the person is not logged into Facebook, so we call the login()
        // function to prompt them to do so. Note that at this stage there is no indication
        // of whether they are logged into the app. If they aren't then they'll see the Login
        // dialog right after they log in to Facebook.
        // The same caveats as above apply to the FB.login() call here.
        window.location.href = "/login";
      }
    });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));


  var progressJSON = [
    {
      text:"Logging you in...",
      progress:"5",
      timeOut:"1000"
    },
    {
      text:"Loading your Facebook details...",
      progress:"10",
      timeOut:"2000"
    },
    {
      text:"Loading your friends details...",
      progress:"30",
      timeOut:"4000"
    },
    {
      text:"Checking which friends you haven't spoken to in a while...",
      progress:"60",
      timeOut:"4000"
    },
    {
      text:"Loading important milestones and prioritizing friends...",
      progress:"80",
      timeOut:"4000"
    },
    {
      text:"Finishing up...",
      progress:"100",
      timeOut:"3000"
    },
    {
      text:"Not shown",
      progress:"100",
      timeOut:"2000"
    }
  ];
  var progressIndex = 0;


  function showLoader() {
    console.log("ShowLoader");
    if(progressIndex == progressJSON.length - 1) {
      window.location.href = "/";
    } else {
      $(".progress-bar").css("width",progressJSON[progressIndex].progress+"%");
      $(".loading-text").text(progressJSON[progressIndex].text);
      setTimeout(showLoader,progressJSON[progressIndex].timeOut);
      progressIndex = progressIndex + 1;
    }
  }


  // Here we run a very simple test of the Graph API after login is successful.
  // This testAPI() function is only called in those cases.
  function saveUserData(authToken) {
    showLoader();
    console.log(authToken);
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {

      heap.identify({
              name: response.name,
              id: response.id
            });

      console.log('Good to see you, ' + response.name + '.');
      $.post('/saveUser', {id: response.id, name: response.name, authToken: authToken}, function(data) {
        addFriendsList();
      });
    });
    // response.redirect('www.google.com');
  }

  function addFriendsList(){
    console.log('Adding friends list to json file');
    //do adding friends here
     FB.api('/me/friends?fields=id,first_name,last_name,picture.type(large),location,birthday,link', function(response){
      //for each

      $.post('/saveFriends', {friends: response}, function(data) {
        // addFriendsPhotos(response.data);
        //window.location.href = '/'; // reload the page
      });
    });
  }
</script>


<!-- Actual page content starts here -->
<div id="page-content">
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 centered-content">

      <h4 class="loading-text">
        Logging you in...
      </h4>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span class="sr-only">0% Complete (warning)</span>
        </div>
     </div>

    </div>
  </div>
</div>