<!-- Actual page content starts here -->
<script src="/js/tour.js"></script>
<style type="text/css">
  body {
	  background-image: url('/images/splash_background.jpg');
	  background-repeat:no-repeat;
	  background-position:center top;
	  padding-bottom: 70px;
  }
</style>
<div id="page-content">
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="footer_nav">
    <a id="tour-nav"><img src="/images/tour/next.jpg" /></a>
  </div>
</nav>