// DO NOT IMPORT THIS FILE IN custom-bootstrap.less

body {
	background: url('/images/splash_background.jpg') no-repeat center -20px;
	background-size: cover;
}

.centered-content {
	text-align: center;
}