//== Cards on swipe page
//
//##

.swipe-card.panel {
    margin-bottom: 0;
    overflow: hidden; // So square divs don't overflow rounded corners.

  > .panel-body {
    padding: 0;

    .swipe-card-image {
      height: 300px;
      width: 288px;
      background-size: cover;
      background-position: center center;
    }

    .swipe-card-info {
      margin: @card-content-margin;

      a, p {
        font-weight: 300;
        margin-bottom: 4px;
      }

      .top-line {
        margin-bottom: 8px;

        h4 {
          display: inline-block;
          margin: 0;
        }
        a {
          float: right;
        }
      }

      i {
        margin-left: -2px;
      }

    }

    .swipe-card-input {
      margin: @card-content-margin;

      textarea {
        padding: 4px 8px;
      }
    }


  }

}

/* Overlapping cards */

#card_container {
  position: relative; 
}

.top-card {
  position: absolute;
  z-index: 2;
}

.bottom-card {
  position: absolute;
  z-index: 1;
  top: 3px;
}