//== Cards on swipe page
//
//##

.swipe-card.panel {
    margin-bottom: 0;
    overflow: hidden; // So square divs don't overflow rounded corners.

  > .panel-body {
    padding: 0;

    .swipe-card-image {
      height: 300px;
      width: 288px;
      background-size: cover;
      background-position: center center;
    }

    .swipe-card-info {
      margin: @card-content-margin;

      a, p {
        font-weight: 300;
        margin-bottom: 4px;
      }

      .top-line {
        margin-bottom: 8px;

        h4 {
          display: inline-block;
          margin: 0;
        }
        a {
          float: right;
        }
      }

      i {
        margin-left: -2px;
      }

    }

    .swipe-card-input {
      margin: @card-content-margin;

      textarea {
        padding: 4px 8px;
      }
    }


  }

}

#friendList p.message {
  margin-top: 20px;
}

/* Overlapping cards */

#card_container {
  position: relative; 
}

.top-card {
  position: absolute;
  z-index: 2;
}

.bottom-card {
  position: absolute;
  z-index: 1;
  top: 3px;
}

.card-label {
    position: absolute;
    font-size: 55px;
    font-weight: bold;
    z-index: 500;
    text-align: right;
    border: 4px solid #3495da;
    border-radius: 10px;
    width: auto;
    padding: 10px;
}

.card-label .like {
  color: #3495da;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  top: 70px;
  right: 30px;
}

.card-label .dislike {
  
}