

#modal{
	position: absolute;
	z-index: 9001;
	text-align: center;
	margin: 0 auto;

	.back {
		font-size: 15px;
	}
}

.modal-backdrop {
	position: absolute;
	z-index: 9000;
}

/*overriding bootstraps default opacity of 0.5*/
.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal-backdrop.message {
	color: white;
}

body .message{
	color: white;
}

.modal_inner {
	color: white;
	text-align: center;
	margin: 0 auto;

	p {
		text-align: center;
	}
}


.friend-image {
    width: 320px;	
}